---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: heading
  label: CONTENT
- type: document
  path: page1
  label: Page 1
- type: directory
  path: content/pages
  label: Pages
  create: documents
  match: "**/*.md"
- type: directory
  path: content/posts
  label: Posts
  create: documents
  match: "**/*.md"
- type: directory
  path: content/products
  label: Products
  create: documents
  match: "**/*.md"
upload_dir: assets
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
